$primary: #4d3219;
$secondary: #9dbd9a;
$tertiary: rgb(201, 164, 190);

div {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}









@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-vue/src/index.scss';